
        @import url('http://fonts.googleapis.com/css?family=Comfortaa:700');
        /* define a style for Title, Headings and Normal texts */
        
        .heading1,
        .heading2,
        .heading3,
        .normal {
            color: #333333;
            font-family: verdana, arial;
            font-weight: normal;
            line-height: 20px;
        }
        
        .normal {
            margin: 0;
        }
        
        .text-element .normal a {
            text-decoration: underline;
            color: #666666;
        }
        
        .nav.text-element .normal a {
            text-decoration: none;
            color: #333333;
        }
        
        .nav.text-element .normal a:hover {
            text-decoration: underline;
        }
        /* title style */
        
        .title,
        .heading1 {
            font-size: 30px;
            font-family: 'Comfortaa', cursive;
            color: #243DB3;
            line-height: 30px;
        }
        
        .btn {
            background-color: #2F2F2F;
            cursor: pointer;
            border-radius: 5px;
            border: solid black 1px;
        }
        
        .btn * {
            color: white;
            text-align: center;
            line-height: 3.5;
        }
        
        iframe {
            border: none;
        }
        /* fix for firefox */
        
        .fix-bg-firefox {
            background-repeat: no-repeat;
        }
        /* animate hover screenshot CE */
        
        .hover-border img {
            position: absolute;
            -moz-transition: left .2s, top .2s, -moz-box-shadow .2s;
            -webkit-transition: left .2s, top .2s, -webkit-box-shadow .2s;
            transition: left .2s, top .2s, box-shadow .2s;
            top: 0;
            left: 0;
        }
        
        .hover-border:hover img {
            -moz-box-shadow: 3px 3px 2px 2px #666;
            -webkit-box-shadow: 3px 3px 2px 2px #666;
            box-shadow: 3px 3px 2px 2px #666;
            top: -2px;
            left: -2px;
        }
        
        .full-width {
            width: 100% !important;
        }
        
        .white-text * {
            color: white !important;
        }
    
        .silex-id-1507135535125-41 {
            cursor: auto;
            background-color: rgb(255, 255, 255);
            left: 0px;
            top: 0px;
        }
        
        .silex-id-1507136302526-1 {
            min-height: 100px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507136302526-1 {
                top: 60px;
                left: 0px;
            }
        }
        
        .silex-id-1507136302525-0 {
            min-height: 100px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507136302525-0 {
                background-color: rgba(47, 47, 47, 1);
                min-height: 244px;
            }
        }
        
        .silex-id-1507135534398-2 {
            width: 667px;
            top: 35px;
            left: 303px;
            box-sizing: content-box;
            border-top-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 1px;
            border-left-width: 0px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            min-height: 40px;
        }
        
        .silex-id-1507135535105-39 {
            width: 113px;
            top: 0px;
            left: -1px;
            box-sizing: content-box;
            background-image: url('../assets/schmurtz.png');
            background-color: rgba(47, 47, 47, 1);
            background-size: contain;
            background-position-x: 0%;
            background-position-y: 100%;
            background-repeat-x: no-repeat;
            background-repeat-y: no-repeat;
            min-height: 146px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507135535105-39 {
                background-color: rgba(47, 47, 47, 1);
                top: 0px;
                left: 166px;
                width: 113px;
                min-height: 244px;
            }
        }
        
        .silex-id-1507135535094-38 {
            width: 103px;
            top: 8px;
            left: 5px;
            min-height: 66px;
        }
        
        .silex-id-1507136379292-3 {
            min-width: 970px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507136379292-3 {
                top: 304px;
                left: 0px;
            }
        }
        
        .silex-id-1507136379292-2 {
            width: 970px;
            min-height: 561px;
            top: 15px;
            left: 385px;
            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: rgba(51, 51, 51, 1);
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507136379292-2 {
                min-height: 908px;
                top: 0px;
                left: 12px;
                width: 443px;
            }
        }
        
        .silex-id-1507135535033-36 {
            width: 474px;
            top: 261px;
            left: 1px;
            box-sizing: content-box;
            min-height: 193px;
        }
        
        .silex-id-1507136037791-44 {
            width: 466px;
            background-color: transparent;
            min-height: 70px;
            top: 448px;
            left: 0px;
        }
        
        .silex-id-1507136147928-46 {
            width: 226px;
            min-height: 55px;
            top: 8px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507136147928-46 {
                top: 6px;
                left: 6px;
                width: 170px;
                min-height: 56px;
            }
        }
        
        .silex-id-1507137608438-1 {
            width: 226px;
            min-height: 55px;
            top: 8px;
            left: 239px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507137608438-1 {
                top: 6px;
                left: 237px;
                width: 170px;
                min-height: 56px;
            }
        }
        
        .silex-id-1507136059094-45 {
            width: 226px;
            min-height: 55px;
            top: 31px;
            left: 642px;
        }
        
        .silex-id-1507137294724-0 {
            width: 430px;
            background-color: rgba(47, 47, 47, 1);
            min-height: 430px;
            top: 80px;
            left: 540px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507137294724-0 {
                top: 436px;
                left: 11px;
                width: 422px;
                min-height: 435px;
            }
        }
        
        .silex-id-1507136590186-5 {
            min-width: 970px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507136590186-5 {
                top: 1213px;
                left: 0px;
            }
        }
        
        .silex-id-1507136590185-4 {
            width: 970px;
            min-height: 311px;
            top: 15px;
            left: 215px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507136590185-4 {
                min-height: 744px;
            }
        }
        
        .silex-id-1507135535004-35 {
            width: 285px;
            top: 52px;
            left: 0px;
            box-sizing: content-box;
            min-height: 200px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507135535004-35 {
                top: 0px;
                left: 11px;
                width: 422px;
                min-height: 200px;
            }
        }
        
        .silex-id-1507135534975-34 {
            width: 285px;
            top: 52px;
            left: 346px;
            box-sizing: content-box;
            min-height: 200px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507135534975-34 {
                top: 200px;
                left: 11px;
                width: 422px;
                min-height: 200px;
            }
        }
        
        .silex-id-1507135534949-33 {
            width: 285px;
            top: 52px;
            left: 685px;
            box-sizing: content-box;
            min-height: 200px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507135534949-33 {
                top: 400px;
                left: 11px;
                width: 422px;
                min-height: 200px;
            }
        }
        
        .silex-id-1507136665995-7 {
            background-color: rgba(47, 47, 47, 1);
            min-width: 970px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507136665995-7 {
                top: 1957px;
                left: 0px;
            }
        }
        
        .silex-id-1507136665994-6 {
            width: 970px;
            min-height: 818px;
            top: 15px;
            left: 172px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507136665994-6 {
                min-height: 1634px;
            }
        }
        
        .silex-id-1507135534746-20 {
            width: 970px;
            top: 23px;
            left: 0px;
            box-sizing: content-box;
            min-height: 54px;
        }
        
        .silex-id-1507135534709-19 {
            width: 379px;
            top: 118px;
            left: 528px;
            box-sizing: content-box;
            min-height: 379px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507135534709-19 {
                top: 102px;
                left: 11px;
                width: 422px;
                min-height: 378px;
            }
        }
        
        .silex-id-1507135534704-18 {
            width: 379px;
            top: 118px;
            left: 68px;
            min-height: 379px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507135534704-18 {
                top: 480px;
                left: 11px;
                width: 422px;
                min-height: 379px;
            }
        }
        
        .silex-id-1507135534657-16 {
            width: 334px;
            top: 518px;
            left: 90px;
            box-sizing: content-box;
            min-height: 54px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507135534657-16 {
                top: 860px;
                left: 11px;
                width: 422px;
                min-height: 60px;
            }
        }
        
        .silex-id-1507135534614-15 {
            width: 72px;
            top: 583px;
            left: 90px;
            background-color: rgb(255, 255, 255);
            border-top-width: 5px;
            border-right-width: 5px;
            border-bottom-width: 5px;
            border-left-width: 5px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            border-top-color: rgb(255, 255, 255);
            border-right-color: rgb(255, 255, 255);
            border-bottom-color: rgb(255, 255, 255);
            border-left-color: rgb(255, 255, 255);
            min-height: 68px;
        }
        
        .silex-id-1507135534692-17 {
            width: 95px;
            top: 574px;
            left: 200px;
            box-sizing: content-box;
            min-height: 95px;
        }
        
        .silex-id-1507139013216-2 {
            width: 80px;
            min-height: 80px;
            top: 580px;
            left: 320px;
        }
        
        .silex-id-1507135534584-14 {
            width: 344px;
            top: 668px;
            left: 97px;
            box-sizing: content-box;
            min-height: 54px;
        }
        
        .silex-id-1507135534576-13 {
            width: 419px;
            top: 518px;
            left: 551px;
            box-sizing: content-box;
            min-height: 251px;
        }
        
        .silex-id-1507136757662-9 {
            min-width: 970px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507136757662-9 {
                top: 3591px;
                left: 0px;
            }
        }
        
        .silex-id-1507136757662-8 {
            width: 970px;
            min-height: 875px;
            top: 15px;
            left: 172px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507136757662-8 {
                min-height: 729px;
            }
        }
        
        .silex-id-1507135534793-22 {
            width: 971px;
            top: 43px;
            left: 0px;
            box-sizing: content-box;
            min-height: 62px;
        }
        
        .silex-id-1507135534480-8 {
            width: 443px;
            top: 541px;
            left: 492px;
            box-sizing: content-box;
            min-height: 147px;
        }
        
        .silex-id-1507135534402-4 {
            width: 347px;
            top: 539px;
            left: 90px;
            box-sizing: content-box;
            min-height: 148px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507135534402-4 {
                top: 514px;
                left: 11px;
                width: 422px;
                min-height: 160px;
            }
        }
        
        .silex-id-1507135534515-9 {
            width: 219px;
            top: 213px;
            left: 145px;
            box-sizing: content-box;
            min-height: 245px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507135534515-9 {
                top: 608px;
                left: 161px;
                width: 122px;
                min-height: 134px;
            }
        }
        
        .silex-id-1507135534409-5 {
            width: 340px;
            top: 269px;
            left: 575px;
            box-sizing: content-box;
            min-height: 151px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507135534409-5 {
                top: 770px;
                left: 158px;
                width: 274px;
                min-height: 150px;
            }
        }
        
        .silex-id-1507136824943-11 {
            background-color: rgba(47, 47, 47, 1);
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507136824943-11 {
                top: 4320px;
                left: 0px;
            }
        }
        
        .silex-id-1507136824942-10 {
            min-height: 225px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507136824942-10 {
                min-height: 390px;
            }
        }
        
        .silex-id-1507135534928-31 {
            width: 265px;
            top: 39px;
            left: 4px;
            min-height: 79px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1507135534928-31 {
                top: 8px;
                left: 31px;
                width: 382px;
                min-height: 110px;
            }
        }
        
        .silex-id-1507135534886-30 {
            width: 70px;
            top: 43px;
            left: 303px;
            min-height: 70px;
        }
        
        .silex-id-1507135534874-29 {
            width: 70px;
            top: 43px;
            left: 899px;
            min-height: 70px;
        }
        
        .silex-id-1507135534856-28 {
            width: 70px;
            top: 43px;
            left: 400px;
            min-height: 70px;
        }
        
        .silex-id-1507135534840-27 {
            width: 70px;
            top: 43px;
            left: 501px;
            min-height: 70px;
        }
        
        .silex-id-1507135534834-26 {
            width: 70px;
            top: 43px;
            left: 599px;
            min-height: 70px;
        }
        
        .silex-id-1507135534824-25 {
            width: 70px;
            top: 43px;
            left: 698px;
            min-height: 70px;
        }
        
        .silex-id-1507135534819-24 {
            width: 70px;
            top: 43px;
            left: 799px;
            min-height: 70px;
        }
        
        .silex-id-1507135534814-23 {
            width: 970px;
            top: 132px;
            left: -1px;
            box-sizing: content-box;
            background-color: transparent;
            min-height: 74px;
        }
    